* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: 50px auto;
  max-width: 200px;
}

#categories {
  height: 180px;
}

button {
  display: block;
  margin: 20px auto;
}
